{% extends 'base.html' %}

{% block body %}

    <form action="{{ url_for('x_platform.instant_post_page') }}" method="GET">
        <button  type="submit" name="method">Instant Post</button>
    </form>

    <form action="{{ url_for('x_platform.future_post_page') }}" method="GET">
        <button type="submit" name="method" >FutureCast</button>
    </form>


    <form action="{{ url_for('x_platform_pro_users.post_instant_media_files') }}" method="GET">
        <button type="submit" name="method" >post medias</button>
    </form>



{% endblock %}