{% extends 'base.html' %}

{% block body %}
<!-- Connect Twitter Form -->
<form method="POST" action="{{ url_for('connect_twitter') }}">
  <input type="text" name="screen_name" placeholder="Account Name" required>
  <input type="text" name="api_key" placeholder="API Key" required>
  <input type="text" name="api_secret" placeholder="API Secret" required>
  <input type="text" name="access_token" placeholder="Access Token" required>
  <input type="text" name="access_token_secret" placeholder="Access Token Secret" required>
  <input type="text" name="client_id" placeholder="Client ID " required>
  <input type="text" name="client_secret" placeholder="Client Secret " required>

  <button type="submit">Connect Twitter</button>
</form>

<hr>






{% endblock %}