{% extends 'base.html' %}

{% block body %}
<form method="POST" action="{{url_for('connect_twitter')}}">
    <input type="text" name="screen_name" placeholder="Account Name">
  <input type="text" name="api_key" placeholder="API Key">
  <input type="text" name="api_secret" placeholder="API Secret">
  <input type="text" name="access_token" placeholder="Access Token">
  <input type="text" name="access_token_secret" placeholder="Access Token Secret">

  <button type="submit"  onclick="window.location.href='{{ url_for('dashboard') }}'">Connect Twitter</button>
</form>




{% endblock %}